################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PaymentContext/v15/Server/sqlite3/db.lock
/.vs/PaymentContext/v15/Server/sqlite3
/.vs/PaymentContext/v15/.suo
/.vs/PaymentContext/DesignTimeBuild
